* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  background-color: #5b6675;
  background-color: #5f6a7c;

  color: #080f0b;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth; /*This will make it so when you click on a link, 
      it will scroll to that spot rather than jump*/

  margin-left: auto;
  margin-right: auto;
}

.greetings-section {
  background-color: #5b6675;
  background-color: #5f6a7c;

  background-image: url("./images/housemedshortflip.png");
  background-size: 900px 700px;
  background-position: top left;
  background-repeat: no-repeat;
  padding: 2rem;
  padding-top: 65vh;
  position: relative;
  //   background-size: 100% 110%;
  // height: 100vh;
  // min-height: 540px;
  // max-height: 700px;
  height: 700px;

  // background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
@media (min-width: 800px) {
  .greetings-section {
    background-image: url("./images/houseflip.png");
    // background-position: top left;
    background-size: 1350px 800px;
    height: 100vh;
    min-height: 740px;
  }
}

@media (min-width: 1400px) {
  .greetings-section {
    background-size: cover;
    max-height: 900px;
    background-position: bottom right;
  }
}

.frank {
  width: 15rem;
  position: absolute;
  left: 1rem;
  top: 4rem;
}
@media (max-height: 450px) {
  .frank {
    width: 9rem;
    top: 4rem;
    left: 4rem;
  }
}

@media (min-width: 800px) {
  .frank {
    width: 18rem;
    left: 3rem;
    top: 5rem;
  }
}
@media (min-width: 1200px) {
  .frank {
    width: 18rem;
    left: 12rem;
  }
}

.dialogue-box {
  z-index: 40;
  background-color: #0d0f11c9;
  padding: 1rem;
  border: solid #e1f6fcc2 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #e8fcff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80%;
  font-size: 1rem;
  p {
    margin: 0;
  }
}
@media (min-width: 800px) {
  .dialogue-box {
    width: 500px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .dialogue-box {
    width: 700px;
    // font-size: ;
  }
}

.back-button,
.next-button {
  background-color: #0d0f1100;
  border: none;
  padding: 0 1rem;

  &:hover {
    cursor: pointer;
  }
}
.button-image {
  width: 2rem;
}
.linkButtonContainer {
  width: 100%;
  align-items: center;
}
.linkButton {
  justify-self: center;
  align-self: center;
}
.footer-section {
  padding: 1rem;
  background-color: #5f6a7c;
  color: #e2e9f3e3;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
